#main-info{
  margin-top:10%; 
}

#top-half{
  background-color: #cccccc;
}

.navbar-nav{
  margin:auto;
}

.navbar-nav li a{
  border-radius: 20px 20px 0 0 ;
}

.my-navbar{
  margin: auto;
  width: 30%;
}

.container{
  text-align: center;
}

#bottom-container{
  background-color: #eee;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 5.5%;
  margin-left: 5.5%;
}

#currently-on{
  background-color: #eee; 
}

.loading-wheel{
  display:none;
}